@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html,
body{
        font-family: "Roboto",sans-serif;
        font-weight: 300;
        line-height: 1.4;
        scroll-behavior: smooth;
}
.container{
      max-width: 1200px;
      margin: 0 auto;
}
ul{
    list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
:root{
    __purple500: #281154;
    __purple300: #270082;
    __purple600: #1b0058;
    __red600: #dc0000;
    __body: #f9f6ff;

}
header{
    background-color: #270082;
    color: #f9f6ff;
}
nav{
      display: flex;
      justify-content: space-between;
      color: white ;
      align-self: center;
      padding: 20px 0;
}
nav ul{
        display: flex;
        gap: 20px;
}
.logo{
      font-size: 32px;
      font-weight: 600;
}
nav ul li{
      border-bottom: 2px solid transparent;
      transition: 0.2s ease-in;
}
nav ul li:hover{
     border-bottom: 2px solid white;
     transition: 0.2s ease-in;
}
.hero-section{
       background-image: url(./h);
}